.DS_Store
Math/.DS_Store
Math/differential-equations/.DS_Store
Math/math-v123-test/.DS_Store
Math/nuclear-1body-potentials/.DS_Store
Physics/.DS_Store
.DS_Store
Devs/math-jupyter-connection/data/csvTable_1.csv
Devs/math-jupyter-connection/.idea/modules.xml
Devs/math-jupyter-connection/.idea/math-jupyter-connection.iml
Devs/math-jupyter-connection/data/*.pdf
*.pyc
.DS_Store

Mathematica/DB_Operations/data/
